# Django settings
SECRET_KEY=8uvlm(&4oz@5x!87z0c^8^iz4o!7#6t!346iavyr5+41qze!tb
DEBUG=True
APPEND_SLASH=False

# BASE_URL=http://localhost:8888
API_SCHEMA=http
API_HOST=localhost
API_PORT=8888

# Logging with loguru
ENABLE_LOGGING=True
LOG_LEVEL=INFO
LOG_DIRECTORY=./logs

# AWS S3/MinIO Configuration
AWS_ACCESS_KEY_ID=5wuOL0GWXiso5kwFPMjJ
AWS_SECRET_ACCESS_KEY=rbT41u9MjKQ9a2S5B6kbOA0BMxBR1fEh7lwXIEcm
AWS_STORAGE_BUCKET_NAME=test-bucket
AWS_S3_REGION_NAME=us-east-1
AWS_S3_ENDPOINT_URL=http://localhost:9000

# Storage backend for MinIO
# Username for the MinIO root user
MINIO_ROOT_USER=root
# Password for the MinIO root user
MINIO_ROOT_PASSWORD=password
# Host address for the MinIO
# use MINIO_HOST=localhost:9000 or 127.0.0.1:9000 when backend app run locally
MINIO_ENDPOINT="minio:9000"

# Stay following settings empty if default is used

# Host address for the PostgreSQL database server (default: pg)
# use POSTGRES_HOST=localhost or 127.0.0.1 when backend app run locally
POSTGRES_HOST=
# Port number for the PostgreSQL database server (default: 5432)
POSTGRES_PORT=
# Username to access the PostgreSQL database (default: user)
POSTGRES_USER=
# Password for the PostgreSQL database user (default: password)
POSTGRES_PASSWORD=
# Name of the PostgreSQL database (default: db)
POSTGRES_DB=
