APP_CONFIG__ENVIRONMENT=dev
APP_CONFIG__ENABLE_LOGGING=1
APP_CONFIG__MEDIA_PATH=./media
APP_CONFIG__TEMPLATES_PATH=./templates

# Ciphered access key for the SendGrid resource
APP_CONFIG__SENDGRID__API_KEY=gAAAAABn3t0KQiL27DiO1n3k_3EnzWrVnnO93_8cHy01x1wEIyHmhwvuxb7v_gp1vOjozBjG-VXB-Gb6Oa3mU73Oc2j4Rkoi7_4c3r9YnNgm-QzfwUf0ovLDQhTVZdmB2DACXQefBQjNotd1DWsWPkz8iIi2n8GgsU4vLpIdwKDCOi5OonXBjuA=

# Ciphered email
APP_CONFIG__SENDGRID__MY_EMAIL=gAAAAABn3sgId06LNEcaqIeXaisUurJWPJs1hfooqAIY2EUdisrOQRAkf-9MpjoCO42YbVkyDSbQth0tgZLpecGb5Mzdke_dXfUHvd9nUxOAN1HpqwSYVN4=

APP_CONFIG__CELERY_BROKER=pyamqp://guest:guest@rabbitmq//
APP_CONFIG__CELERY_BACKEND=rpc://
APP_CONFIG__CELERY_INCLUDE=services.mail_services

APP_CONFIG__LOGURU=1
APP_CONFIG__LOG_DIRECTORY=./logs
APP_CONFIG__LOG_LEVEL=DEBUG

